.section1{
    height: 757px;

  }

  h1,h2 {
    line-height: 1.2
  }



  #luna-blanca{
    top:0%;
    margin: auto;
    position: absolute;
    left: -28.5963%;
    z-index:-1;

  }


  .moon{
    position: absolute;
      top: 0;
      bottom: 0;
      left: 29.427%;
      margin: auto;
      height: 1385px;
      width: 1385px;
      display: flex;
      align-items: center;
      justify-content: center;

  }

  .moon__text{
    opacity: 1;

  }


  .moon__front {

     backface-visibility: hidden;
     position: absolute;
      display: block;
      left: 75px;
      top: 0px;

  }


  .moon__back{

     backface-visibility: hidden;
      position: absolute;
      display: block;
       left: 0px;
       top: 0px;
  }
  .cloud {
    opacity: 1;

  }
