<div class="section2"  >
  <div>
  <div class="fullpage">
    <div class="title">
      <h2 class="titulo">ACERCA DE MI</h2>
      <div class="border js-letter"><span></span><span class="js-letter"></span></div>
      <p class="descripcion">Soy creativa y super curiosa, me gusta saber como funciona todo, es emocionante ver evolucionar una idea pero puede ser aún más emocionante estar involucrada en ver cómo se diseña y desarrolla un concepto a través de la codificacion y poder ver el ciclo de vida completo.<br></p>

    </div><a class="image image--acerca" src="fotoPerfil.jpg" alt="fotoPerfil">
      <div class="image__over">
        <div class="image__cover"></div>
        <div class="image__cover"></div>
      </div>
      <div class="page-num">
        <p>02</p>
      </div></a>
  </div>
</div></div>

