
<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">HTML</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">CSS</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">JAVASCRIPT</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">70%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">TYPESCRIPT</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">70%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">RUBI</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">C</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">C++</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">C#</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">80%</p>
     <p>Contáctame</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">SQL</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">60%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">JAVA</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">60%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">PYTHON</p>
      <p>Romina Celis</p>
    </div>
    <div class="back">
      <p class="back-heading">55%</p>
      <p>Contáctame</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="front">
      <p class="front-heading">REACT</p>
      <p class="front-heading">ANGULAR</p>
    </div>
    <div class="back">
      <p class="back-heading">SPRING</p>
      <p class="back-heading">NODEJS</p>
    </div>
  </div>
</div>
