
<div class="section2">
  <div class="fullpage">
    <div class="title">
      <h2 class="titulo">SKILLS<br></h2>
      <button class="btn" type="button" (click)="toggleSkillComponent()">
        <strong>MUESTRAME</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
      </div>
    <a class="image image--works" href=jscode.jpeg>
      <div class="image__over">
        <div class="image__cover"></div>
        <div class="image__cover"></div>
      </div>
      <div class="page-num">
        <p>01</p>
      </div></a>
  </div></div>

  <app-skills *ngIf="showSkillComponent"></app-skills>




